.THIS {
}

.THIS .slds-page-header{background: #2a94d5 !important; color: #FFF !important;border-bottom:2px solid #00396b;}
.THIS .slds-page-warning{background: #ffb75d !important; color: #FFF !important;border-bottom:2px solid #00396b;}
.THIS .slds-docked-form-footer{padding-left:15px; padding-right: 15px;}
.THIS .padding-10{padding:10px;}
.THIS .number .slds-input{text-align: right !important; width:150px !important;}
.THIS .text-min-width{min-width: 60px;}
.THIS .total-class{font-weight: bold;text-align: right;}
.THIS .text-label .slds-input{background-color: transparent !important ;border: 0px none transparent !important;}
.THIS .hide{display: none;}
.THIS .multiselect{height: 70 px !important;}
.THIS .slds-input{width:170px;}
.THIS .slds-select_container .slds-select{width:150px;}
.THIS .scrollerSize {
    height: 400px;
    width: 550px;
}
.THIS .slds-modal__container{
       max-width: 85rem !important;
       width:85% !important;

}
.THIS .uiButton--default .label {
    white-space: nowrap;
    color: #ffffff;
}