.THIS {
}
.THIS .uiMenuList--default .uiMenuItem>a, .THIS .uiMenuList--default .uiMenuItem>span{
	padding: 0px !important;
	margin:15px;
	height: 20px !important;
}
.THIS .uiInput--checkbox input, .THIS input.uiInput--checkbox{float: left !important;}
.THIS .scrollerSize {
    height: 500px;
}
.THIS .listSize {
    width: 220px;
}
.THIS .slds-input{width:150px;}
.THIS .slds-docked-composer__header{/*background-color:#07d0fe;*/}
.THIS .lblwName{width:15% !important;}
.THIS .txtwName{width:80% !important;}
.THIS .pg_margin{margin-top:100px;}
.THIS .slds-modal{top:90px !important;}
.THIS .slds-page-header{background: #2a94d5 !important; color: #FFF !important;border-bottom:2px solid #00396b;}