<apex:page standardController="Order" extensions="SODocExtension" renderAs="pdf" applyBodyTag="false">
   <head>
   <style>
        @page{  size: A4 landscape;margin-top: 0.0cm;margin-left: 1.0cm;margin-right: 1.0cm;margin-bottom: 0.0cm;}
       @h {    margin-top: 0.0cm;margin-bottom: 0.0cm; }
    </style>
   </head>
    <div>
        <center><small>
            <apex:outputField value="{! Order.Company__r.Name}"/><br/>
            <apex:outputField value="{! Order.Company__r.BillingStreet}"/>,<apex:outputField value="{! Order.Company__r.BillingCity}"/>,<apex:outputField value="{! Order.Company__r.BillingState}"/>,
            <apex:outputField value="{! Order.Company__r.BillingPostalCode}"/>,<apex:outputField value="{! Order.Company__r.BillingCountry}"/>,<br/>
            Phone:<apex:outputField value="{! Order.Company__r.Billing_Phone__c}"/>, Fax:<apex:outputField value="{! Order.Company__r.Fax}"/>,<br/>
            Email:<apex:outputField value="{! Order.Company__r.Email__c}"/>, Website:<apex:outputField value="{! Order.Company__r.Website}"/>,<br/>
        </small></center>
    </div>
    <hr align="center"></hr>
    <div align="center" style="margin-top:0.0cm;margin-bottom:0.0cm;">
        <h4>ORDER CONFIRMATION &nbsp;&nbsp;</h4><br/>
    </div>
    <small>
        <table width="100%" margin="0.0">
            <tr><td><p>Dear Sir,</p></td><td align="right">DATE:&nbsp;&nbsp;{!DAY(TODAY())}-{!MONTH(TODAY())}-{!YEAR(TODAY())}</td></tr>
            <tr><td>We are pleased to confirm your purchase order <apex:outputField value="{! Order.Name}" />. Please find our order confirmation details below:</td></tr>
            <tr><td><b><apex:outputField value="{! Order.Account.Name}" /></b><br/></td>
                <td align="right" colspan="5">Order Confirmation No:</td><td align="right"><b><apex:outputField value="{! Order.OrderNumber}"/>/<apex:outputField value="{!Order.Account.Code__c}"/></b></td></tr>
            <tr>
                <td><p>Billing Address:<apex:outputField value="{! Order.Account.BillingStreet}"/><br/>
                    <apex:outputField value="{! Order.Account.BillingCity} " />&nbsp;
                    <apex:outputField value="{! Order.Account.BillingState} " />&nbsp;
                    <apex:outputField value="{! Order.Account.BillingPostalCode} " />&nbsp;
                    <apex:outputField value="{! Order.Account.BillingCountry} " />&nbsp;</p>
                </td>
                <td><p>Shipping Address:<apex:outputField value="{! Order.Account.ShippingStreet}"/><br/>
                    <apex:outputField value="{! Order.Account.ShippingCity} " />&nbsp;
                    <apex:outputField value="{! Order.Account.ShippingState} " />&nbsp;
                    <apex:outputField value="{! Order.Account.ShippingPostalCode} " />&nbsp;
                    <apex:outputField value="{! Order.Account.ShippingCountry} " />&nbsp;</p>
                </td>
                <td align="right">P.O Ref No:<apex:outputField value="{! Order.PoNumber} " /><br/>P.O Date:<apex:outputField value="{! Order.PoDate} " /></td>
            </tr>
            <tr><td>Contact Person:<apex:outputField value="{! Order.Account.Primary_Contact__r.Name} " /></td >
                <td align="right" colspan="5">Your Sales Executive:</td><td><apex:outputField value="{! Order.PoNumber} " /></td>
            </tr>
            <tr><td>Phone:<apex:outputField value="{! Order.Account.Primary_Contact__r.Phone} " /></td >
                <td>Email:<apex:outputField value="{! Order.Account.Primary_Contact__r.Email} " /></td>
                <td align="right" colspan="5">Order Processed by:</td><td><apex:outputField value="{! Order.CreatedBy.Name} "/></td>
            </tr>
        </table> 
    <apex:pageBlock >   
        <center>
        <table cellpadding="6" cellspacing="0" width="100%" border="2">
            <tr>
                <th>S. NO.</th>
                <th>Internal Article Code</th>
                <th>Colour Description</th>
                <th>H.S Code</th>
                <th>Party Reference No.</th>
                <th>Width in Inches</th>
                <th>Yards</th>
                <th>Rate/Yards</th>
                <th>Amount</th>
            </tr>
            <apex:variable var="rowcount" value="{!1}"/>
            <apex:variable var="yrds" value="{!0}" />
            <apex:variable var="amnt" value="{!0}" />
            <apex:repeat var="items" value="{! oitmList}">
                <tr>
                    <td>{!rowcount}<apex:variable var="rowcount" value="{!rowcount+1}" /></td>
                    <td>{! items.Product2.ProductCode}</td>
                    <td>{! items.Product2.Description}</td>
                    <td>{! items.Product2.HS_Code__c}</td>
                    <td>{! items.Supplier__r.Name}</td>
                    <td>{! items.Width_in_Inches__c}</td>
                    <td>{! items.Width_in_Inches__c *  0.027778 }</td>                
                    <td>{! items.UnitPrice}</td>
                    <td>{! items.TotalPrice}</td>
                </tr>
                <apex:variable var="yrds" value="{! yrds + items.Width_in_Inches__c *  0.027778}" />
                <apex:variable var="amnt" value="{! amnt + items.TotalPrice}" />
            </apex:repeat>
            <tr><td colspan="7"></td><td  align="right" ><b>Quantity</b></td> <td>{! yrds}</td><td align="right"><b>Total Amount</b></td><td>{! amnt}</td></tr>   
        </table>   
        </center>
    </apex:pageBlock>
    <table width="100%">
        <tr>
             <td style="text-align:left;vertical-align:top;padding:0">Payment Terms:<apex:outputField value="{! Order.Payment_Term__c}"/></td>        
             <td style="text-align:left;vertical-align:top;padding:0">Remarks:</td>
             <td style="text-align:left;vertical-align:top;padding:0">Packing Instructions:</td>
        </tr>    
        <tr><td>Delivery Terms:<apex:outputField value="{! Order.Payment_Term__c}"/></td></tr>
        <tr><td>Shipment:<apex:outputField value="{! Order.Shipment__c}"/></td></tr>
        <tr><td>Mode Of Shipment:<apex:outputField value="{! Order.Shipment_Mode__c}"/></td></tr>
        <tr><td>Port Of Destination:<apex:outputField value="{! Order.Account.ShippingCountry}"/></td></tr>
        <tr><td>Tolerance: 10%+/- in Qty and Amount</td></tr>
    </table>
    </small>
</apex:page>