.THIS {
}

.THIS .slds-page-header{background: #2a94d5 !important; color: #FFF !important;border-bottom:2px solid #00396b;}
.THIS .slds-page-warning{background: #ffb75d !important; color: #FFF !important;border-bottom:2px solid #00396b;}
.THIS .slds-docked-form-footer{padding-left:15px; padding-right: 15px;}
.THIS .padding-10{padding:10px;}


.THIS .total-class{font-weight: bold;text-align: right;}
.THIS .text-label .slds-input
{background-color: transparent !important ;border: 0px none transparent !important;width:100px;}
.THIS .hide{display: none;}

.THIS .uiMenuList--default .uiMenuItem>a, .THIS .uiMenuList--default .uiMenuItem>span{
	padding: 0px !important;
	margin:15px;
	height: 20px !important;
}
.THIS .uiInput--checkbox input, .THIS input.uiInput--checkbox{float: left !important;}
.THIS .text-right{text-align:right !important;}
.THIS .marginTop{margin-top:10px !important;}
.THIS .lableWidth{width:130px !important;}

.THIS .selectWidth{min-width:130px !important;}
.THIS .multiselect{height: 70 px !important;}
.THIS .slds-select_container .slds-select{min-width: 130px}
.THIS .text-min-width{min-width: 60px;}
.THIS .number .slds-input{text-align: right !important; width:80px !important;}
.THIS .text .slds-input{text-align: left !important; width:130px !important;}